:root {
  --PGBackgroundD: #24283b;
  --PGBackground2D: #1a1b26;
  --PGTextBackgroundD: #1a1b26;
  --PGColorTextD: #9aa5ce;
  --accentD: #a9b1d6;
  --accent-hoverD: #9aa5ce;
  --accent-selectedD: #565f89;
  --accent-focusedD: #a9b1d6;
}
