:root {
  --PGBackgroundD: rgb(36, 40, 59);
  --PGBackground2D: rgb(26, 27, 38);
  --PGTextBackgroundD: rgb(26, 27, 38);
  --PGColorTextD: rgb(154, 165, 206);
  --accentD: rgb(169, 177, 214);
  --accent-hoverD: rgb(154, 165, 206);
  --accent-selectedD: rgb(86, 95, 137);
  --accent-focusedD: rgb(169, 177, 214);
}
